<button class="secondary" type="button" name="button" {{action 'toggleShowing'}}> {{if showing 'hide' 'show map'}}</button>
{{#if showing}}
  <div class="map-container">
    {{#leaflet-map class="map" lat=postLocation.lat lng=postLocation.lng zoom=zoom}}
      {{tile-layer url="http://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png"}}

      {{#marker-layer lat=postLocation.lat lng=postLocation.lng}}
      {{/marker-layer}}
      {{circle-layer lat=currentLocation.lat lng=currentLocation.lng radius=10}}
      {{circle-layer lat=currentLocation.lat lng=currentLocation.lng radius=radiusMeters}}
    {{/leaflet-map}}
  </div>
{{/if}}
{{yield}}
