
<div class="posts-container">
  <div class="posts">

    <form class="posts-form" >
      {{input type="text" value=title placeholder="title"}}
      {{input type="text" value=text placeholder="text"}}
      <button type="submit" {{action "createPost" title text}}>Send message</button>
    </form>

    <div class="post-task-bar">
      <div class="tasks">
        <div class="task-item">

          {{input type="number" value=limit placeholder="limit" class="posts-radius"}}
          posts
        </div>
        <div class="task-item">
          in
          {{input type="number" value=radius placeholder="radius" class="posts-radius"}}
          km radius
        </div>
        <div class="task-item">
          with
          '
          {{input type="text" value=query placeholder="" class="posts-radius"}}
          '
        </div>
      </div>




    </div>

    <ul>
      {{#each posts as |post|}}
        <li>
          {{#single-post post=post delete="deletePost" currentTime=currentTime}}
            {{location-map postLocation=post.location currentLocation=model.currentLocation radius=radius}}
          {{/single-post}}

        </li>
      {{/each}}
    </ul>

  </div>
</div>


{{outlet}}
