
<div class="posts-container">
  <div class="posts">
    <form class="posts-form" {{action "createPost" title text}}>
      {{input type="text" value=title placeholder="title"}}
      {{input type="text" value=text placeholder="text"}}
      <button type="submit">add</button>
    </form>
    <ul>

      {{#each model as |post|}}
        <li>
          <h3 class="post-title">{{post.title}}</h3>
          <p class="post-text">
            {{post.text}}
          </p>

          <button {{action "deletePost" post}}>delete</button>
        </li>
      {{/each}}
    </ul>
  </div>
</div>


{{outlet}}
